@font-face {
    font-family: 'arvoregular';
    src: url('fonts/arvo-regular-webfont.woff2') format('woff2'),
         url('fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'arvoregular';
    background: #f8f7f2;
    color: #222;
}

.top {
    
}

header {
    background:  linear-gradient(#244F97, #CFDFEA);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: black;
}

section {
    width: 50%;
    margin: 0px auto;
    padding-bottom: 80px;
    padding-top: 40px;
}

h1 {
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 1.3em;
    padding: 0px;
    margin: 0px;
}

header h1 {
}

.menu-container {
    background: #244F97;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0 15px;
}

.current-page a {
    color: #4b3808;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.menu-item a:hover {
    color: #c0c0c0;
    /*text-decoration: underline;*/
}

.menu-item a:active {
    color: #c0c0c0;
}

.model {
    text-align: center;
}

.model h2 {
    margin-top: 20px;
}
.model p {
    margin-top: 20px;
}
.model ul {
    margin-top: 20px;
    text-align: left;
}

.model image {
    width: 50%;
    height: 50%;
}

.model-top {
    display: block;
}

.model-container {
    width: 100%;
    height: 70vh;
    margin: 0px auto;
    margin-top: 10px;
    background: linear-gradient(rgb(35, 47, 63), rgb(11, 16, 31), rgb(35, 47, 63));
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 15px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.bullet-list {
    list-style-type: square;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-left: 35px;
}

.bullet-list li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}


a, .fakelink {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

a:active {
    color: black;
}

img {
    max-width: 100%;
}

.socials {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 3px;
    
    display: block;
    text-decoration: none;
    text-align: center;
    background: #f8f7f2;
}

.fa-brands, .fa-solid {
}

#mobile-menu {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    background: #bfb9a5;
}
#mobile-menu span
{
    padding-right: 20px;
}

#menu3d {
    background: #444;
}


#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  border-top: 3px solid rgb(25, 25, 25);
  background: #CFDFEA;
  color: black;
}

.interactive {
    margin-top: 10px;
    font-style: italic;
}

#interactive-mobile {
    display: none;
}

#mc_embed_shell {
    width: 40%; margin: 0px auto;
}

video {
    margin-top: 30px;
}

/* MOBILE */

@media (max-width: 800px) {
    #mobile-menu {
        display: block;
    }
    #menu-wrapper {
        display: none;
    }

    .menu-container {
        display: block;
        height: auto;
    }
    .menu {
        display: block;
    }
    .menu-item {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 62px;
    }
    .menu-item a {
        font-size: 1.3em;
    }
    .model-container {
        height: 50vh;
    }
    .navhomepage {
        display: none;
    }
    .top h2 {
        display: none;
    }
    
    #interactive-desktop {
        display: none;
    }

    #interactive-mobile {
        display: block;
    }

    #mc_embed_shell {
        width: 80%; margin: 0px auto;
    }
    video {
        width: 100%; height: auto; 
    }
    section {
        width: 90%;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-gap: 15px;
        margin-left: 25px;
    }

}